front*
composer.*
html/userfiles
_cache
lib/3rdParties
_tmp
*.new
*.old
*.orig
docker-compose.yml
vendor/
vendor-5.4/
OLD/
node_modules/
.idea/
.vscode/
old.package-lock.json
html/dist/
/html/fr/s11_actu_assu/
/html/fr/s12_acu_brookeo/
/html/fr/s13_performer_assu/
_logs/
_log/
_mysql/
_local_propre_au_projet/
_docker/
conf/conf_machine.inc
conf/api/conf_sites.xml
conf/conf_sites.xml
!html/admin/ml/s99_auto_admin/conf/
html/actions/phpInfo.php
html/tests/
.php_cs.cache
_database
.ssh
stats.json
.env
bucket.json
bucket-lock.json
access.log
